---
import Item from '~/components/blog/ListItem.astro';
import type { AWPost } from '~/types/content';

export interface Props {
  posts: Array<AWPost>;
  slugMapping?: object;
}

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li class="mb-12 md:mb-20">
        <Item post={post} />
      </li>
    ))
  }
</ul>
